{% extends "base.html" %}
{% block content %}
<div class="about">
    <h1 class="slide">ABOUT</h1>
    <hr class="slide">
<div class="icon-section">
    <section>
        <div class="neumorphic variation1">
                <span><i class="fas fa-rocket"></i></span>
        </div>
        <div><h3>Dynamic</h3></div>
    </section>
    <section>
            <div class="neumorphic variation1">
                    <span><i class="fas fa-mobile-alt"></i></span>
            </div>
            <div><h3>Responsive</h3></div>
        </section>
    <section>
        <div class="neumorphic variation1">
                <span><i class="fas fa-lightbulb"></i></span>
        </div>
        <div><h3>Intuitive</h3></div>
    </section>
    <section>
            <div class="neumorphic variation1">
                    <span><i class="fas fa-stopwatch"></i></span>
            </div>
            <div><h3>Fast</h3></div>
    </section>
</div>
<div class="intro-section">
    <div class="intro neumorphic"><div class="portrait"></div><div><h3>Who is this guy?</h3><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</span></div></div>
    <div class="skills">
        {% for skill in skills %}
            <div class="layerone">{{ skill.level }}<div class="layertwo"><div class="layerthree">{{ skill.skill }}</div></div></div>
        {% endfor %}
        {% if session['logged_in'] %}
            <div style = "Visibility = hidden">
            <form id="form1" action="" method="post" style="display: none;">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.skill.label }}<br>
                    {{ form.skill(size=32) }}<br>
                    {% for error in form.skill.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.level.label }}<br>
                    {{ form.level(size=64) }}<br>
                    {% for error in form.level.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>{{ form.submit() }}</p>
            </form>
            </div>
        <div class="layerone" onclick="Openform();"><i class="fas fa-plus"></i>Add</div> 
        {% endif %}
    </div>
</div>
</div>
{% endblock %}